{% extends 'base.html' %}
{% block title %}
    Frontend Developer
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark" style="color:white">
        <h2>Full Stack Developer</h2>
        <p class="lead font-weight-normal">Dobrodosli na ProductArenu :) </p>
        <br><br><br>

        <h4>Flutter Mobile App + Node.js Backend</h4>
        <p class="lead font-weight-normal">Kurs za razvijanje Flutter aplikacije.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=ylJz7N-dv1E" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>How to speak the language of Application Architecture</h4>
        <p class="lead font-weight-normal"> Tutorial Application Architecture!</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=kGYGEcdPE2U" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>APIs for Beginners</h4>
        <p class="lead font-weight-normal">APIs for Beginners.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=GZvSYJDk-us" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>Git and GitHub for Beginners</h4>
        <p class="lead font-weight-normal">GitHub.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=tRZGeaHPoaw" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>SOLID Principles (Uncle Bob)</h4>
        <p class="lead font-weight-normal">Predavanje na temu SOLID principa .</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=zHiWqnTWsn4" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>Uncle Bobs solid Principles made easy</h4>
        <p class="lead font-weight-normal">Pojednostavljena verzija.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=pTB30aXS77U" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>
    </div>
{% endblock %}